In [ ]:
students = ["Mohan", "Vishwa", "Shivam", "Sakshi"]
print(students)
print(type(students)) # This will print the type list her ein the result

['Mohan', 'Vishwa', 'Shivam', 'Sakshi']
<class 'list'>

In [ ]:
list2 = list(students)
print(list2) # Here with the help of this code it will get converted in the form of a code

['Mohan', 'Vishwa', 'Shivam', 'Sakshi']

In [ ]:
list3 = list("Vishwa")
print(list3) # Here as we can see that the letters are getting printed seperately

['V', 'i', 's', 'h', 'w', 'a']

In [4]:
list4 = list((3,4,"Vishwa"))
print(list4)

[3, 4, 'Vishwa']

In [ ]:
# No we move on to accessing the elements in the list 
l1 = [1,3,9,2,5,6,7]
print(l1[3]) # It will print the element with the number 3 indexing 
print(l1[-6]) # It will print the element with the number -6 indexing

2
3

In [ ]:
arr =[3,2,1,5,9]
arr.append(11)
print(arr) # Here we use the append function to add 11 in the array at the end

[3, 2, 1, 5, 9, 11]

In [ ]:
arr = [3,2,1,5,9]
arr.insert(3,43)
print(arr) # Here it will add the element at the 3rd indexing

[3, 2, 1, 43, 5, 9]

In [ ]:
l1 = [1,2]
l2 = ["Vishwa" , "Mohan"]
l1.extend(l2)
print(l1) 
# Here when we run the code, the array gets extended and more elements added

[1, 2, 'Vishwa', 'Mohan']

In [ ]:
arr =[3,5,2,1,9]
arr.remove(1)
print(arr) # Here we remove the element 1 from the list by using the remove function

[3, 5, 2, 9]

In [ ]:
arr = [3,5,2,1,9,1,8,1]
arr.remove(1)
print(arr) # It will remove the first ocuurence of 1 from the list

[3, 5, 2, 9, 1, 8, 1]

In [ ]:
# pop function 
arr = [3,1,7,9,11,23,45]
print(arr.pop(2))
print(arr) # Here the pop function will replace the function with the number 3 indexing and print the array without the element

7
[3, 1, 9, 11, 23, 45]

In [ ]:
student = ['a', 'b', 'c', 'd', 'e']
student[3] = 'f'
print(student) # Here f replaces d in the array 

student[1:4] = 'm', 'n'
print(student) # Here and n get printed in the array at the index

['a', 'b', 'c', 'f', 'e']
['a', 'm', 'n', 'e']