Loops is something which we use when we have to repeat something. 
Like for example, we have to print "Hello World" around 1000 times, then its obvious that we cannot 
write it continuosly in 1000 differetn print statements 

In such cases, we use loops

In [ ]:
fruits = ["apple", "banana", "cherry", "date", "strawberry"] 

for fruit  in fruits : print(fruit) 

# Here as we can see that the "fruits" is the list and the word "fruit" is used as a variable name

apple
banana
cherry
date
strawberry

In [ ]:
# here we take another example,, where we have to print the characters of the whole name with spaces in between 

name = "Chaitanya Mangla"  
for ch in name :
    print(ch, end = ' ')  

# All the charcters are getting printed in a single  line with spaces in between

C h a i t a n y a   M a n g l a

Suppose we havve to  run a loop, for example 100 times, 
In such cases we use the in built range function in for loop 

One more rule in thr range function of the loop, that when its to be prinnted from 0 to n,
then it gives the output from 0 to n-1

In [11]:
# Example of range in for loop 
for i in range (5):
    print(i, end = " ")

0 1 2 3 4

In [13]:
# Example of range in for loop horizontally
for i in range (5):
    print(i)

0
1
2
3
4

In [ ]:
# Lets take another example of the loop with range function 
for i in range (2,7):
    print(i, end = " ")
# here as we can see that the loop gets executed and it gets printed from 2 to 6

2 3 4 5 6

In [ ]:
#  For Loop using the increment value
for i in range(2,10,2):
    print(i, end = " ")
# Here this 2 AT THE END ID THE INCREMENT Value to  give a jump of 2

2 4 6 8

In [19]:
#  For Loop using the increment value
for i in range(2,10,3):
    print(i, end = " ")

2 5 8

In [ ]:
# Here this is an example of the Reverse Loop using for loop from 10 to 1 
for i in range (10,0, -1):
    print(i, end = " ")

10 9 8 7 6 5 4 3 2 1

In [23]:
# Suppose we have to print the numbers from 12 to 3 with a gap of 3 in reverse order 
for i in range (12,0,-3):
    print(i, end = " ")

12 9 6 3

For controlling the flow of loops, we use the 2 main logic keywords as :
1. Break 
2. Continue  

Break causes the termination of the loop and allows the execution of the code after the loop 
Continue allows next iteration of the loop to continue and run immediately just after the continue execution

In [4]:
# For example, the numbers from 1 to 12 have to be printed but as soon the number divisible by 4 is achieved, 
# we have to  break he code  

for num in range (1,13):
    if (num%4 == 0):
        break 
    print(num)

# Here as we can see in the code, the numbers are getting printed and the number 4 comes, the whole code stops
# Hence, the numbers get printed from 1 to 3

1
2
3

In [ ]:
# Now, we have to print the number from 0 tp 10, but the condition is that the odd numbers should not get printed 

for i in range (0,11):
    if(i%2!=0):
        continue
    print(i)

# Here as we can see that the numbers which are odd don't get printed and only the even ones are printed using the continue statement

0
2
4
6
8
10

Nested Loops is the execution of the loops, which when executed the loop is printed inside the loop

In [4]:
# Nested Loop example takes place 
for i in range (10):
    for i in range (5):
        print("Hello World", end = " ")

Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World

In [ ]:
# Nested Loop Example takes place 
for i in range (10):
    for i in range (5):
        print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [ ]:
# Example of nested for loop statements 
for i in range (4):
    for j in range(13):
        if (j%4 == 0):
            break
        print(j)

# Here nothing gets printed as because the number 0 is itself divisible by 4 and hence it breaks the statement

In [ ]:
# Now e try the above code by starting the range from 1 
for i in range(4):
    for j in range(1,11):
        if (j%4 == 0):
            break
        print(j)

# here in the code as we can se that the loop gets executed and 1,2,3 gets printed 4 times

1
2
3
1
2
3
1
2
3
1
2
3

In [9]:
# Now we apply the above example to get even numbers printed 
for i in range (4):
    for j in range(1,13):
        if (j%2 != 0):
            continue
        print(j)

2
4
6
8
10
12
2
4
6
8
10
12
2
4
6
8
10
12
2
4
6
8
10
12

While Loop is used when we want to  keep running the loop until the condition is running.

In [ ]:
num = 10 
while num > 10 :
    print("Hello World")

# Here since the number is equal to 10, so it will not print 10 as because condition is of num greater than 10

In [ ]:
# While Loop execution as 
num = 10 
while num > 0 :
    print("Hello World")
    num = num - 1  

# here as we can see the the value is detting printed properly as because the while loop is xecuted properly

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

Problems on Loop

In [1]:
''' 
Write a python program to find the sum of all even numbers between 1 to 20 using for loop 
'''

sum = 0 
for num in range (1,21):
    if num%2 == 0 :
        sum += num 

print("Sum of even numbers is: ", sum)

Sum of even numbers is:  110

In [ ]:
'''
Write a python program to find the no. of vowels in a string. 
'''

str= input("Enter the string ")
count = 0 

 # Check if ch is a vowel or not

for ch in str:
    if ch.lower() in ['a', 'e', 'i', 'o', 'u']:
        count += 1

print("The number of vowels in the string is: ", count)

# The string input = Chaitanya Mangla

The number of vowels in the string is:  6

In [ ]:
'''
Write a python code to write the fibonacci series for given number of terms by user input 
''' 
n = int(input("Enter the number of terms for which the fibonacci terms are to generated "))

if (n<=0):
    print("Number entered is invalid") 

print(1, end = " , ") 
if (n == 1):
    pass 
else :
    print(1, end = " , ") 

    if (n == 2):
        pass 

    else :
        prev = 1
        prev_prev = 1 
        for num in range (3, n+1):
            print(prev + prev_prev, end = " , ") 
            prev, prev_prev = prev+prev_prev, prev


# the input of the numbers = 5

1 , 1 , 2 , 3 , 5 ,

In [5]:
'''
Write a Python program to write the Fibonacci series of the given number of n terms 
'''  

n = int(input("Enter the number of terms for which we want the Fibonacci Terms: ")) 
a,b = 0,1  

for i in range(n):
    print(a, end = ",")
    a,b = b, a+b

0,1,1,2,3,

In [ ]:
'''
Write a Python program to find whether a number is Prime or not 
''' 

num = int(input("Enter the number "))
isPrime = True

if (num <= 1):
    isPrime = False  

for i in range (2, int(num/2) + 1): 
    if num % i == 0 :
        isPrime = False 
        break 

print("Number passed is prime: ", isPrime) 

# The number input = 23

Number passed is prime:  True

In [ ]:
'''
Write a Python Program to print the multiplication table of a number 
'''

n = int(input("Enter the number "))

for i in range (1,11):
    print(f"{n} x {i} = {n*i}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
'''
Write a Python code to print he multiplication table of a number 
''' 

n = int(input("Enter the number "))

for i in range (1,11):
    print(f"{n} x {i} = {n*i}") 

# The number input = 34

34 x 1 = 34
34 x 2 = 68
34 x 3 = 102
34 x 4 = 136
34 x 5 = 170
34 x 6 = 204
34 x 7 = 238
34 x 8 = 272
34 x 9 = 306
34 x 10 = 340

Pattern Printing Questions

In [16]:
'''
Write a python code to print the python 
*
**
***
****
*****
''' 

for row in range (5):
    for j in range (row+1):
        print("*", end = "")
    print()

*
**
***
****
*****