In [9]:
# Arithmetic operators 

num1 = 10
num2 = 20
print(num1 + num2)
# Addition

30

In [10]:
print(num2 - num1)
# Subtraction

10

In [11]:
# Multiplication 
print(num1*num2)

200

In [12]:
# Division in 2 different numerators and denominators 
print(num2/num1)
print(num1/num2)

2.0
0.5

In [13]:
# Example of Division 
print(23/3) # Gives the floating value 
print(23//3) # Gives the quotient value 
print(23%3) # Gives the remainder value

7.666666666666667
7
2

In [ ]:
num = int(input("Enter the number"))
print(num % 2 == 0) # On entering the number we print the output and hence we get the result 
# Number entered = 51

False

In [17]:
num = int(input("Enter the number"))
print(num % 2 == 0) # On entering the number we print the output and hence we get the result 
# Number entered = 42

True

In [ ]:
# Exponenet Operator 
print(2**3)
# it is basically 2 to power 3

8

In [ ]:
n = int(input("Enter the number"))
print(n**3)
# Number entered is 3

27

In [ ]:
pos_inf = float("inf")
print(pos_inf)
# Storing the positive integer

inf

In [ ]:
neg_inf = float("-inf")
print(neg_inf)
# Storing the negative integer

-inf

In [ ]:
   # Comparison Operators 
num1 = 10
num2 = 20 
print(num1 == num2)
# == sign is used for making the comparison so it prints False

False

In [ ]:
print(num1 != num2)
#  Since num1 is not equal to num2 so it prints True

True

In [ ]:
print(num1 < num2)
# Since the number 1 is less than numner 2 so it prints true

True

In [ ]:
print(num1 > num2)
# Since the number 1 is ;ess than numner2  so it prints false

False

In [ ]:
print(pos_inf > neg_inf)
# it prints True

True

In [ ]:
x = float('nan')
y = 5
z = float('nan')

print(x ==y)
print(y == z)
# both are false as because the y and z both have nan values but still are unequal

False
False

In [34]:
# Assignment operators 
name = "Vishwa"
x = 5 
x = x+5 
print(x)
# Here = is use as an assignment operator so hence 5 is assigned to the x and so it prints 10

10

In [ ]:
x+=5
print(x)
# Since the previous stored value was 10,, so on adding 5 it prints 15

15

In [ ]:
x-=3
print(x)
# here 3 gets subtracted from 15

12

In [ ]:
x*= 2
print(x)
# Since the pre defined value of x is 12, so on multiplying 2 it prints 24

24

In [ ]:
# logical Operators 
# And Operator 
print(True and False)

False

In [6]:
print(True and True)

True

In [7]:
print(False and False)

False

In [8]:
# OR operator 
print(True or False )

True

In [9]:
print(True and False)
print(False and True)
print(False and False)
print(False or False)

False
False
False
False

In [ ]:
print(not True)
# not true means False 
# This is a boolean Expression

False

In [ ]:
print(not False) 
# Here this is a boolean expression

True

In [ ]:
print(not 5>7)
# Since 5 is less than 7 and when we put not so it beccome True

True

In [13]:
# XOR operator represented by ^
print(True ^ False )

True

In [14]:
print(True ^True)
print( False ^False)

False
False

In [ ]:
# Bitwise And Operator &
num1 = 5
num2 = 3 
print(num1 & num2)
# Here basically we calcu;ate Bitwise 
# So what happens is that we have to convert the number into bits and then we carry out the comparison and hence we give the answer 1

1

In [16]:
# Bitwise OR Operator 
num1 = 5
num2 = 3 
print(num1 | num2)

7

In [ ]:
# Examples by som Maths Problems 
print( 1 - 4*0.25)
# We get the answer

0.0

In [19]:
print(0.9-3*0.3)
# Here why the value is not zero

1.1102230246251565e-16

In [ ]:
# Unary Operator left Shift
num = 5
print(num << 1)

10

In [ ]:
# Unary Operator Left Shift
num = 14
print(num << 1)

28

In [ ]:
# unary Operator Right Shift 
num = 14
print (num >> 1)

7

In [ ]:
# Identity Operator 
x = 5
y = 5
print(x is y)
# hence x is equual to y

True

In [27]:
arr1 =[1,2,3]
arr2 = [1,2,3]
print(arr1 is arr2)
print(arr1 is not arr2)

# Although the content of array is same, but still its considered different as 2 different objects stored in 2 different memory locations

False
True

In [29]:
# Membership Operator 
my_list =  [1,2,3,4,5]
print(5 in my_list)
print(7 in my_list)

True
False

In [30]:
# operator Precedence 
result = 4 + 5*6
print(result)

34