     Q1 Write a Python Program to print the Fibonacci series upto n terms.

In [20]:
n = int(input("Enter the number of terms we want the Fibonacci terms upto "))

a,b = 0,1
for i in range(n):
    print(a, end = ",")
    a,b = b, a+b

# input =  10 terms

0,1,1,2,3,5,8,13,21,34,

Q2 Write a Python program to take the sides of a triangle as input and print whether the triangle is Equilateral, 
      Isosceles or  Scalene ?

In [21]:
# Enter the lengths of fthe triangle as input
side1 = float(input("Enter the lenght of the first side "))
side2 = float(input("Enter the lenght of the second side "))
side3 = float(input("Enter the lenght of the third side "))

if side1 + side2 <= side3 or side2 + side3 <= side1 or side1 + side3 <= side2 :
    print("The lengths of the triangle are invalid and the triangle is not possible")

else :
    if side1 == side2 == side3 :
        print("The triangle is an equilateral triangle") 

    elif side1 == side2 or side2 == side3 or side1 == side3 :
        print("The triangle is an isosceles triangle")

    else : print("The triangle is a Scalene Triangle")


#  First Side = 23  Second Side = 23  Third Side = 45

The triangle is an isosceles triangle

In [22]:
# Example 2  
side1 = float(input("Enter the lenght of the first side "))
side2 = float(input("Enter the lenght of the second side "))
side3 = float(input("Enter the lenght of the third side "))

if side1 + side2 <= side3 or side2 + side3 <= side1 or side1 + side3 <= side2 :
    print("The lengths of the triangle are invalid and the triangle is not possible")

else :
    if side1 == side2 == side3 :
        print("The triangle is an equilateral triangle") 

    elif side1 == side2 or side2 == side3 or side1 == side3 :
        print("The triangle is an isosceles triangle")

    else : print("The triangle is a Scalene Triangle")

# First Side = 78 Second Side = 78 Third Side = 78

The triangle is an equilateral triangle

In [1]:
# Example 3
side1 = float(input("Enter the lenght of the first side "))
side2 = float(input("Enter the lenght of the second side "))
side3 = float(input("Enter the lenght of the third side "))

if side1 + side2 <= side3 or side2 + side3 <= side1 or side1 + side3 <= side2 :
    print("The lengths of the triangle are invalid and the triangle is not possible")

else :
    if side1 == side2 == side3 :
        print("The triangle is an equilateral triangle") 

    elif side1 == side2 or side2 == side3 or side1 == side3 :
        print("The triangle is an isosceles triangle")

    else : print("The triangle is a Scalene Triangle")

# First Side = 45 Second Side = 67 Third Side = 89

The triangle is a Scalene Triangle

   Q3  Write a Program to calculate the sum of the even and odd integersof the first n odd natural numbers 
         For Example :   Input upto which natural numbers ? 25 
                         The sum of even integers = 156
                         The sum of odd integers = 169

In [2]:
n = int(input("Enter the number upto which we want the natural numbers ")) 

sum_even = 0
sum_odd = 0 

for num in range (1, n+1):
    if num % 2 == 0 :
        sum_even += num
    else : 
        sum_odd += num 

print(f"The sum of even ntegers is {sum_even}")
print(f"The sum of odd ntegers is {sum_odd}") 

# The numbers entered = 34

The sum of even ntegers is 306
The sum of odd ntegers is 289

In [3]:
n = int(input("Enter the number upto which we want the natural numbers ")) 

sum_even = 0
sum_odd = 0 

for num in range (1, n+1):
    if num % 2 == 0 :
        sum_even += num
    else : 
        sum_odd += num 

print(f"The sum of even ntegers is {sum_even}")
print(f"The sum of odd ntegers is {sum_odd}") 

# The numbers entered = 120

The sum of even ntegers is 3660
The sum of odd ntegers is 3600

    Q4   Write the program for printing the following patterns ?

In [4]:
'''
1
11
111
1111
11111
'''

num = "1"
for row in range (5):
    for j in range (row + 1):
        print(num, end ="")
    print()

1
11
111
1111
11111

In [5]:
'''
4321
432
43
4
''' 

for row in range(4) :
    for j in range (4, row, -1):
        print(j, end = "")
    print()

4321
432
43
4

In [6]:
'''
1
1 3
1 3 5
1 3 5 7
'''

for row in range (5):
    for j in range (1,2*row):
        if j % 2 != 0:
            print (j, end = " ") 
    print()

1
1 3
1 3 5
1 3 5 7

In [7]:
'''
    *
   ***
  *****
 *******
*********
'''

rows = 5 
# Pint the pyramid patern
for i in range (1, rows + 1):  

    # Print the leading spaces 
    for j in range (n - i):
        print(" ", end = "")

    for k in range (1,2*i):
        print("*", end ="")
    print()

                                                                                                                       *
                                                                                                                      ***
                                                                                                                     *****
                                                                                                                    *******
                                                                                                                   *********

In [8]:
'''
*********
 *******
  *****
   ***
    *
'''

# Set the value of n (number of rows)
n = 5
# Outer loop for the number of rows
for i in range(n, 0, -1):
    for j in range (n - i):
        print(" ", end = "")
    for k in range (2*i-1):
        print("*", end = "")

    print()

*********
 *******
  *****
   ***
    *

  Q5 Write a program toseperate the Even, Odd, Pprime, Composite Numbers froma given list and make a seperate list for 
     each one.

In [9]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

result = {"prime" : [], "composite" : [], "even" : [], "odd" : []}
for num in  numbers :
    if num < 2 :
        continue
    if num % 2 == 0:
        result["even"].append(num)
        if num > 2 : 
            result["composite"].append(num)
            for i in range (2, int(num ** 0.5) + 1):
                if num % i == 0 :
                    result["composite"].append(num)
                    break
        if num == 2:
            result["prime"].append(num) 

    else:
        result["odd"].append(num)
        isPrime= True

        for i in range (2,int (num ** 0.5)+ 1):
            if num % i == 0 :
                isPrime = False
                result["composite"].append(num)
                break
        if isPrime :
            result["prime"].append(num)
print(result)

{'prime': [2, 3, 5, 7, 11, 13, 17, 19], 'composite': [4, 4, 6, 6, 8, 8, 9, 10, 10, 12, 12, 14, 14, 15, 16, 16, 18, 18, 20, 20], 'even': [2, 4, 6, 8, 10, 12, 14, 16, 18, 20], 'odd': [3, 5, 7, 9, 11, 13, 15, 17, 19]}

Q6 Write a program to print the distance traveled by an object moving in uniform circular motion.

In [10]:
pi = 22/7 

radius = int(input("Enter the radius of the circular path in meters "))
frequency = int(input("Enter the frequency"))
time_duration = int(input("Enter the time duration"))

total_revolutions = frequency*time_duration 

distance  = 2* pi* radius* total_revolutions 

print(f"The total distance travelled  by the object is {distance} meters")

# radius =  4  frequency = 6  time_duration = 8

The total distance travelled  by the object is 1206.857142857143 meters

Q7 Write a progrma to input a digit and print it in words.

In [11]:
num = int(input("ENter a digit: ")) 

if 0 <= num <= 9 : 
    word ={0 : "Zero", 1: "One", 2 : "Two", 3: "Three", 4 : "Four", 5:"Five", 6:"Six", 7:"Seven",  8:"Eight", 9:"Nine"} [num]
    print(word)

else:
    print("Invalid Number. Enter a Valid Number")  

# Input = 5

Five

In [12]:
num = int(input("ENter a digit: ")) 

if 0 <= num <= 9 : 
    word ={0 : "Zero", 1: "One", 2 : "Two", 3: "Three", 4 : "Four", 5:"Five", 6:"Six", 7:"Seven",  8:"Eight", 9:"Nine"} [num]
    print(word)

else:
    print("Invalid Number. Enter a Valid Number")  

# Input = 10

Invalid Number. Enter a Valid Number

     Q8. Write a program to check whether the square root of a given number is prime or not.

In [13]:
num = int(input("Enter the number ")) 
sqrt = num ** (0.5)  # Find the square root of a number 

isPrime = True 
if (sqrt <= 1):
    isPrime = False 

for i in range (2, int(sqrt/2) + 1):
    if sqrt % i == 0: 
        isPrime = False
        break 

print("Number passed is priem:", isPrime) 

# Input = 16 The sqrt of 16 = 4 which is not prime

Number passed is priem: False

In [14]:
num = int(input("Enter the number ")) 
sqrt = num ** (0.5)  # Find the square root of a number 

isPrime = True 
if (sqrt <= 1):
    isPrime = False 

for i in range (2, int(sqrt/2) + 1):
    if sqrt % i == 0: 
        isPrime = False
        break 

print("Number passed is priem:", isPrime) 

# Input = 49 The sqrt of 49 = 7 which is  prime

Number passed is priem: True

   Q9. Use a suitable data structure for storing players name and jersey number and display it on basis of jersey number.

In [15]:
# Loading the data 
players = {
1: "Rajeshwari Gayakwad",
2: ["Anjum Chopra", "Sneh Rana"],
3: "Mithali Raj",
5: "Jemimah Rodrigues",
6: ["Reema Malhotra", "Deepti Sharma"],
84: "Harmanpreet Kaur",
8: "Ekta Bisht",
10: "Renuka Singh Thakur",
11: "Yastika Bhatia",
12: "Shikha Pandey",
13: "Richa Ghosh",
14: "Punam Raut",
17: "Shafali Verma",
18: "Smriti Mandhana",
21: "Radha Yadav",
23: "Pooja Vastrakar",
24: "Poonam Yadav",
25: "Jhulan Goswami",
26: "Meghna Singh",
27: "Sabbineni Meghana",
28: "Taniya Bhatia",
30: "Mona Meshram",
69: "Priya Punia",
79: "Veda Krishnamurthy",
98: "Harleen Deol"
}

for jersey_number, player in players.items():
    print(f"Jersey Number {jersey_number} worn by talented cricketer, {player}.")

Jersey Number 1 worn by talented cricketer, Rajeshwari Gayakwad.
Jersey Number 2 worn by talented cricketer, ['Anjum Chopra', 'Sneh Rana'].
Jersey Number 3 worn by talented cricketer, Mithali Raj.
Jersey Number 5 worn by talented cricketer, Jemimah Rodrigues.
Jersey Number 6 worn by talented cricketer, ['Reema Malhotra', 'Deepti Sharma'].
Jersey Number 84 worn by talented cricketer, Harmanpreet Kaur.
Jersey Number 8 worn by talented cricketer, Ekta Bisht.
Jersey Number 10 worn by talented cricketer, Renuka Singh Thakur.
Jersey Number 11 worn by talented cricketer, Yastika Bhatia.
Jersey Number 12 worn by talented cricketer, Shikha Pandey.
Jersey Number 13 worn by talented cricketer, Richa Ghosh.
Jersey Number 14 worn by talented cricketer, Punam Raut.
Jersey Number 17 worn by talented cricketer, Shafali Verma.
Jersey Number 18 worn by talented cricketer, Smriti Mandhana.
Jersey Number 21 worn by talented cricketer, Radha Yadav.
Jersey Number 23 worn by talented cricketer, Pooja Vastrakar.
Jersey Number 24 worn by talented cricketer, Poonam Yadav.
Jersey Number 25 worn by talented cricketer, Jhulan Goswami.
Jersey Number 26 worn by talented cricketer, Meghna Singh.
Jersey Number 27 worn by talented cricketer, Sabbineni Meghana.
Jersey Number 28 worn by talented cricketer, Taniya Bhatia.
Jersey Number 30 worn by talented cricketer, Mona Meshram.
Jersey Number 69 worn by talented cricketer, Priya Punia.
Jersey Number 79 worn by talented cricketer, Veda Krishnamurthy.
Jersey Number 98 worn by talented cricketer, Harleen Deol.

Q10. Write a program to take N (N > 20) as an input rom the user. Print numbers from 11 to N . 
     When the number is a multiple of 3 , print "Chaha;".  When the number is a multiple of 7, print "Thala". 
     When it is a multiple of both, print "ChahalThala"

In [16]:
N = int(input("Enter a number (N>20): ")) 

if N <= 20 :
    print("Please enter a number greater than 20") 

else : 
    for num in range (11 , N + 1):
        if num % 3 == 0 and num % 7 == 0:
            print("ChahalThala")
        elif num% 3 == 0 :
            print("Chahal") 
        elif num % 7 == 0 :
            print("Thala")

        else : 
            print(num) 

# Input = 21

11
Chahal
13
Thala
Chahal
16
17
Chahal
19
20
ChahalThala

           Q11. Write a program using Nested Loops.

In [17]:
'''
A
A B
A B C D
A B C D E
A B C D E F'''

n =  int(input("Enter the number of rows")) 
var = 65

for i in range (n+1):
    for j in range(i):
        print(chr(var + j), end = " ")
    print() 


'''
Here this line var = 65 is  used for key printing instead of numbers 
It stores the ASCII Value. Python uses these numeric codes internally for characters. 
'''

A
A B
A B C
A B C D
A B C D E

'\nHere this line var = 65 is  used for key printing instead of numbers \nIt stores the ASCII Value. Python uses these numeric codes internally for characters. \n'

In [18]:
'''
0
2 2
4 4 4
8 8 8 8

'''

for i in range (4):
    for j in range(i + 1):
        if i == 0 :
            print("0", end = " ")

        else :
            print(2**i, end = " ")
    print()

0
2 2
4 4 4
8 8 8 8

    Q12. Write a program using nested loops to produce a rectngle od "s with 6 rows and 20 "s per row.

In [19]:
for i in range (6):
    for j in range (20):
        print("s", end = "")
    print()

ssssssssssssssssssss
ssssssssssssssssssss
ssssssssssssssssssss
ssssssssssssssssssss
ssssssssssssssssssss
ssssssssssssssssssss

    Q13. Given a DNA sequence as represented in a string. Write a program using the for loop to count the occurence of 
         each nucleotide (A,T,C,G) in the sequence. Print the count of each nucleotide.

In [20]:
dna_sequence = "ATCGATCGATCGTACGCTAGCTAGCTAGCTAGCTAGCTAGCTAGCTAGCTA"

nucleotide_count = {'A' : 0, 'T' :0, 'C' : 0, 'G' : 0}  

for nucleotide in dna_sequence : 
    if nucleotide in nucleotide_count:
        nucleotide_count[nucleotide] += 1

for nucleotide, count in nucleotide_count.items():
    print(f"{nucleotide} : {count}")

A : 13
T : 13
C : 13
G : 12

      Q14. Write 3 numbers A, B ,C. Write a program  to write their values in an ascending order For example A =10,
      B = 12, C = 15

In [ ]:
A = int(input("Enter the value of A"))
B = int(input("Enter the value of B")) 
C = int(input("Enter the value of C"))

smallest = A 
next_higher = B 

if B < smallest : 
    smallest = B 
    next_higher = A 

if C < next_higher : 
    next_higher = C 
    smallest = A if A < next_higher else next_higher

print("Smallest Number = ", smallest)
print("Next Higher Number = ", next_higher)
print("Highest number = " , C if C > next_higher else next_higher)


# A = 56, B = 45, C = 67

Smallest Number =  45
Next Higher Number =  56
Highest number =  67

 Q15
 Write a Python script to input temperature. Then ask them what units, Celsius or Fahrenheit, the temperature is in. Your program should convert the temperature to the other unit. The conversions are F=(9/5)*C+32 and C = 5/9*(F-32).

In [ ]:
temp_value = float(input("Enter the temperature value: ")) 

unit = input("Enter the temperature unit (Celsius or Fahrenheit): ") 

if unit.lower() == "celsius" : 
    fahrenheit = (9/5) * temp_value + 32 
    print(f"The temperature in Fahrenheit is {fahrenheit}°F ")

elif unit.lower() == "fahrenheit" :
    celsius = 5/9 * (temp_value - 32)
    print(f"The temperature in Celsius is {celsius}°C")  

else : print("Invalid Teperatue. Enter the Temperatue in Celsius or Faahrenheit ") 

# Input tempersture =  45 degree celsius

The temperature in Fahrenheit is 113.0°F

In [ ]:
temp_value = float(input("Enter the temperature value: ")) 

unit = input("Enter the temperature unit (Celsius or Fahrenheit): ") 

if unit.lower() == "celsius" : 
    fahrenheit = (9/5) * temp_value + 32 
    print(f"The temperature in Fahrenheit is {fahrenheit}°F ")

elif unit.lower() == "fahrenheit" :
    celsius = 5/9 * (temp_value - 32)
    print(f"The temperature in Celsius is {celsius}°C")  

else : print("Invalid Teperatue. Enter the Temperatue in Celsius or Faahrenheit ") 

# Input tempersture =  113 degree fahrenheit

The temperature in Celsius is 45.0°C

    Q16. Ask the user to input a tempearture in Celsius. The program should print a message based on the temperature.

In [ ]:
''' 16. Ask the user to enter a temperature in Celsius. The program should print a message based on the temperature:
If the temperature is less than -273.15, print that the temperature is invalid because it is below absolute zero.
If it is exactly - 273.15, print that the temperature is absolute 0.
If the temperature is between -273.15 and 0, print that the temperature is below freezing.
If it is 0, print that the temperature is at the freezing point.
If it is between 0 and 100, print that the temperature is in the normal range.
If it is 100, print that the temperature is at the boiling point.
If it is above 100, print that the temperature is above the boiling point.
'''

celsius = float(input("Enter the temperature in Celsius: ")) 

if celsius < -273.15 :
    print("The temperature is invalid as its below absolute zero") 

elif celsius == -273.15 :
    print("The temperatue is absolute zero") 

elif -273.15 < celsius < 0 : 
    print("The temperature is below freezing point") 

elif celsius == 0 : 
    print("The temperature is at the Freezing Point") 

elif 0 < celsius < 100 :
    print("The temperature is in normal range")

elif celsius == 100:
    print("The temperature is at boiling point") 

elif celsius > 100 :
    print("The temperature is above the boiling point")

# Input = -271

The temperature is below freezing point

In [28]:
celsius = float(input("Enter the temperature in Celsius: ")) 

if celsius < -273.15 :
    print("The temperature is invalid as its below absolute zero") 

elif celsius == -273.15 :
    print("The temperatue is absolute zero") 

elif -273.15 < celsius < 0 : 
    print("The temperature is below freezing point") 

elif celsius == 0 : 
    print("The temperature is at the Freezing Point") 

elif 0 < celsius < 100 :
    print("The temperature is in normal range")

elif celsius == 100:
    print("The temperature is at boiling point") 

elif celsius > 100 :
    print("The temperature is above the boiling point")

# Input = 58

The temperature is in normal range