In [17]:
set = {1,2,3,5}
print(set)
print(type(set))
# Here the set is printed and the type of set is also printed

{1, 2, 3, 5}
<class 'set'>

In [18]:
s1 = {1,2,4,5,4,1,6,7,8,9,2,4,1}
print(s1)
print(type(s1))
# Here the set is converted in order with no repetition

{1, 2, 4, 5, 6, 7, 8, 9}
<class 'set'>

In [19]:
s3 = ({5,6,7})
print(s3)
# The se s3 gets printed

{5, 6, 7}

In [1]:
# Add 
s = set()

s.add(5)
s.add(13)
s.add(12)
s.add(5)

print(s)

{13, 12, 5}

In [ ]:
s1 = {3,9,7,4}
s1.discard(7)
print(s1)
# Here as we can see that the number 7 gets discarded from the set

{9, 3, 4}

In [ ]:
s1 = {3,9,7,4}
s1.remove(7)
print(s1)
# Here as we can see that the remove function gives the same result

{9, 3, 4}

In [4]:
# froxenset 
# A frozenset is an immutable set 

fs =frozenset([1,2,3])
print(fs)
print(type(fs))

frozenset({1, 2, 3})
<class 'frozenset'>

In [ ]:
fs2 = frozenset({1,2,3})
print(fs2)
print(type(fs2))
# here the frozenset is shown here

frozenset({1, 2, 3})
<class 'frozenset'>

In [ ]:
dict1 = {fs2 : "Vishwa"}
print(dict1)
# Frozenset used with dicionary

{frozenset({1, 2, 3}): 'Vishwa'}