In [8]:
# Defining of the Strings 
name = 'Vishwa'
city = "Bangalore" 
country = '''India'''

In [9]:
name = 'Vishwa'
print(name[5])
# The letter of the index 5 is printed

a

In [10]:
name = 'Vishwa'
print(name[4])
# name 4 is printed

w

In [11]:
name = 'Vishwa Mohan'
print(name[6])
# Since there is space in the index 6 so a space has been printed

In [12]:
name = 'Vishwa Mohan'
print(name[-1])
# here this is the case of reverse indexing

n

In [ ]:
str = "Vishwa Mohan"
str[0] = 'X' # Here it shows error as the string is immutable

TypeError: 'str' object does not support item assignment

In [16]:
# String Concatenation 
first_name = 'Chaitanya'
last_name =  'Mangla'
complete_name = first_name + last_name
complete_name

'ChaitanyaMangla'

In [17]:
# Also multiple strings can be concatenated 
# here we want space to be added between the 2 names of the strings 
first_name = 'Chaitanya'
last_name = 'Mangla'
complete_name = first_name + " " + last_name
complete_name

'Chaitanya Mangla'

In [ ]:
print(len(complete_name))
# here as we can see that the length of the complete name gets printed on using len function

16

In [ ]:
str = 'Vishwa Mohan'
print(str[2:5])
# Here the indexs from 2 to 4 are getting printed as we can see

shw

In [21]:
print(str[2:])
# Hence it will print the indexes from 2 to ending

shwa Mohan

In [ ]:
print(str[:7])
# Hence here the string indexes from 0 to 6 get printed

Vishwa

In [ ]:
# If we do the indexing of leaving both the starting and ending as free then  
print(str[:])
# Here as usual, it will print the whole string

Vishwa Mohan

In [ ]:
# now we do the reverse indexing 
print(str[-9:-4])
# hence it prints the reverse index from -9 to -5

hwa M

In [25]:
# the indexing of mixing both the positive and the negative indexes 
str = 'Vishwa Mohan'
print(str[-9:9])

hwa Mo

In [27]:
# Converting the string to uppercase 
str = "Vishwa Mohan"
print(str.upper())

VISHWA MOHAN

In [28]:
# Converting the string to lower case 
str = "VISHWA MOHAN"
print(str.lower())

vishwa mohan

In [ ]:
# Capitalize Function 
str = "vIshwa Mohan"
print(str.capitalize())
# So here it prints the first letter of the string as capital and rest are all converted to small letters

Vishwa mohan

In [ ]:
# Strip Function 
str = " vIshwa"
print(str.strip())
# Here as we can see that the gap will get vanished away

vIshwa

In [ ]:
# Replace Function 
str = "Hello dear, I am very good, I am very nice, I am wow"
print(str.replace("I am", "We are"))
# Here as we can see that i am gets replced by We are

Hello dear, We are very good, We are very nice, We are wow

In [ ]:
# Replace Function 
str = "Hello dear, I am very good, I am very nice, I am wow"
print(str.replace("I am", "We are", 2))
# here since we want to replce only 2 times, so we use this function

Hello dear, We are very good, We are very nice, I am wow

In [ ]:
# Escape Character 
print("Hello\nVishwa")
# hello and Vishwa printed on 2 different lines

Hello
Vishwa

In [ ]:
# Tab spce escape character 
print("Chaitanya\tMangla")
# tab space is executed successfully

Chaitanya	Mangla