In [ ]:
# defining a Tuple 
tup1 = (3,6,1,9,10)
print(tup1)
# Here the tuple is getting printed 

print(type(tup1)) 
# hence the type tuple is getting printed

(3, 6, 1, 9, 10)
<class 'tuple'>

In [ ]:
# We also have the tuple constructor method 
t1 = tuple([1,2,4])
print(t1)
# here the tuple gets printed using the tuple constructor method

(1, 2, 4)

In [ ]:
t2 = tuple("vishwa")
t3 = tuple(tup1)
print(t2,t3)
# here as we can see that t2 and t3 get printed as seperate tuples

('v', 'i', 's', 'h', 'w', 'a') (3, 6, 1, 9, 10)

In [ ]:
t =(35,)
print(t)
print(type(t))
# Here a comma presents that this is a tuplw

(35,)
<class 'tuple'>

In [ ]:
# Count method in tuple 
fruits = ('apple', 'mango', 'banana', 'apple', 'strawberry')
print(fruits.count('apple'))

print(fruits.count('jackfruit'))
# Sice no jackfruit is there so it will print 0

2
0

In [ ]:
# Index Printing method 
print(fruits.index('apple'))
print(fruits.index('mango'))

# The index of both apple and miango will get printed

0
1

In [8]:
# printing the length of the fruits 
print(len(fruits))

5

In [11]:
fruits = ('apple', 'mango', 'orange', 'jackfruit', 'kiwi', 'avacado')
print(fruits[3])
print(fruits[-3])

print(fruits[2:6])

jackfruit
jackfruit
('orange', 'jackfruit', 'kiwi', 'avacado')